<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>
<body>
<!-- read with fs readfile, string replace of values from inquirer into {}, writeFile as html -->
    <div class="card employee-card shadow p-3 m-1">
        <div class="card-header p-0">
            <h2 class="card-title mb-0 bg-info text-center">{{ name }}</h2>
            <h3 class="card-title mb-0 bg-info text-center"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
        </div>
        <div class="card-body text-center" style="background-color: rgb(219, 181, 130)">
            <ul class="list-group">
                <li class="list-group-item">ID: {{ id }}</li>
                <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li class="list-group-item">Office number: {{ officeNumber }}</li>
            </ul>
        </div>
    </div>
</body>
</html>
